
<footer class="tennis-footer">
    <picture>
        <source srcset=".\assets\images\logos\logo-tennis.png" type="image/webp">
        <img src=".\assets\images\logos\logo-tennis.png" alt="Logo Club de tenis" width="80" height="74"/>
      </picture>
  
      <nav class="tennis-footer__menu">
        <span><a href="./index.html" class="tennis-footer__item" href="">Home</a></span>
        <span><a href="./members.html" class="tennis-footer__item" href="">Members</a></span>
        <span><a href="./blog.html" class="tennis-footer__item" href="">Blog</a></span>
        <span><a href="./store.html" class="tennis-footer__item" href="">Store</a></span>
      </nav>
  
      <nav class="tennis-footer__social">
        <span><a class="tennis-footer__item" href="#" title="go to Facebook"><img src=".\assets\images\icons\facebook.svg"></a></span>
        <span><a class="tennis-footer__item" href="#" title="go to Instagram"><img src=".\assets\images\icons\instagram.svg"></a></span>
        <span><a class="tennis-footer__item" href="#" title="go to Twitter"><img src=".\assets\images\icons\twitter.svg"></a></span>
        <span><a class="tennis-footer__item" href="#" title="go to Youtube"><img src=".\assets\images\icons\youtube.svg"></a></span>
      </nav>
</footer>